# Django Settings
DJANGO_SECRET_KEY=replace-with-a-long-random-secret-key
DEBUG=False
RUN_MIGRATIONS=True

# Database
DB_NAME=drone_fleet_db
DB_USER=drone_fleet_user
DB_PASSWORD=replace-with-a-strong-database-password
DB_HOST=localhost
DB_PORT=5433

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=replace-with-a-strong-pgadmin-password

# Media / Artifacts
ARTIFACT_MAX_FILE_SIZE_MB=50
