# Django Settings
DJANGO_SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
RUN_MIGRATIONS=True

# Database
DB_NAME=drone_fleet_db
DB_USER=drone_fleet_user
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=5433

# Redis
REDIS_URL=redis://localhost:6379/0

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change-me

# Security
CSRF_TRUSTED_ORIGINS=https://yourdomain.com
